
.war{

	margin-left: 30px;
	width:240px;
	height:30px;
}
.p1{
	
	margin-left: 30px;

	
}
.btn{

	width:50px;
	height:30px;
	margin-left: 250px;
	margin-bottom: 20px;
}
.wa{
	
	width:320px;
	height:30px;
	margin-left: 30px;

}
.fff1{

	margin-left:100px;
	margin-top:40px;
}
.tu{

	margin:-10px 4px;

}
.tupian{

	position:absolute;
	right:260px;
	top:410px;

}
.tk{

	position:absolute;
	right:400px;
	top:590px;
}
.ck{

	position:absolute;
	right:400px;
	top:640px;
}