.war{

	margin-left: 30px;
	width:240px;
	height:30px;
}
.p1{

	margin-left:30px;
	margin-top: 10px;
}
.btn{

	width:50px;
	height:30px;
	margin-left: 250px;
	margin-bottom: 20px;
}
.wa{
	
	width:320px;
	height:30px;
	margin-left: 30px;

}
.fff1{

	margin-left:100px;
	margin-top:40px;
}
.tupian{

	position:absolute;
	right:260px;
	top:340px;

}