.yibai{height:100px;}.wushi{height:50px;}.ershi{height:20px;}.shi{height:10px;}
.no-padding{padding:0px;}.no-margin{margin: 0px;}
.sr-margin{margin-right:10px;}.esr-margin{margin-right:20px;}.ssr-margin{margin-right:30px;}.wsr-margin{margin-right:50px;}.bsr-margin{margin-right:80px;}
.sl-margin{margin-left:10px;}.esl-margin{margin-left:20px;}.ssl-margin{margin-left:30px;}.wsl-margin{margin-left:50px;}.bsl-margin{margin-left:80px;}